body {
  font-family: monospace;
  background-color: #222;
  color: white;
  font-size: 20px;
}

h1 {
  display: flex;
  align-items: center;
}

h1 img {
  height: auto;
  width: 100px;
}

img {
  height: auto;
  width: 200px;
}

span {
  font-style: italic;
}

li {
  list-style-image: url('./images/svg/diamond.svg');
  list-style-position: outside;
}

.container {
  background-color: #00A86B;
  border-radius: 0.5em;
  width: 424px;
  margin: 50px auto;
  padding: 29px;
}

.center-element {
  margin: 0 auto;
}

.paragraph {
  text-align: justify;
  margin: 24px 0px 29px;

}

.title {
  margin: -22px 0 12px;
}